.btn-subscribe {
    color: $font-color-white;
    font-family: $font-family-montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 259px;
    height: 78px;
    border: 10px solid $color-theme-orange;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: #ffffff;
        color: #000;
    }
}