nav.header-navbar
    a.header-navbar__item(href='') Для кого
    a.header-navbar__item(href='') Для чего
    a.header-navbar__item(href='') Программа
    a.header-navbar__item(href='') Тарифы
    a.header-navbar__item(href='') Об авторе
    a.header-navbar__item(href='') ЧаВо