.logo {
    max-width: 125.4px;
    max-height: 27px;
    @include media_from('md') {
        max-width: 125.4;
        max-height: 27px;
    }

    @include media_from('lg') {
        max-width: 167.2;
        max-height: 35px;
    }

    @include media_from('xl') {
        max-width: 209px;
        max-height: 45px;
    }
}