header.header
    .header__logo
        img(src=require('../../images/logo.svg') alt='Лого')
    .header__burger
        span
    .header__block-links
        include ../../components/header-navbar/header-navbar.pug
        .header__block-links__social
            a.header__block-links__social__whatsapp(href='')
            a.header__block-links__social__telegram(href='')