header.header
    .header-logo
        include ../../components/logo/logo.pug
    .header-block-links
        include ../../components/header-navbar/header-navbar.pug
        .header-block-links__social
            include ../../components/social-icon/whatsapp.pug
            include ../../components/social-icon/telegram.pug