footer.footer
    .footer__top
        .footer__top__left-block
            .footer__top__left-block__footer-logo
                include ../../components/logo/logo.pug
                p © Школа продаж 360, Все права защищены
            .footer__top__left-block__footer-navbar
                include ../../components/footer-navbar/footer-navbar.pug
        .footer__top__right-block
            include ../../components/btn-subscribe/btn-subscribe.pug
    .footer__bottom
        .footer__bottom__develop
            .footer__bottom__develop__develop-logo
            p Создание сайта:<br>«Пятое измерение» 2021
        .footer__bottom__social
            a.footer__bottom__social__whatsapp(href='')
            a.footer__bottom__social__telegram(href='')