doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Школа продаж')
    title='Школа продаж'
  body
    section.screen-1
      .background-screen-1
      .container
        .screen-1__bullet-block
          include components/bullet/bullet.pug
        include components/header/header.pug
        .screen-1__content
          .screen-1__content__big-number 360
          .screen-1__content__heading
            h1 Школа <br> продаж
            p Это продвинутый курс по продажам для<br> развития твоих ключевых навыков и<br> освоения эффективных технологий
          .screen-1__content__image
            img(src=require('./images/image29.png') alt='Фото')
          .screen-1__content__subscribe
            include components/btn-subscribe/btn-subscribe.pug
          .screen-1__content__start
            span Старт:
            p  1 сентября
          .screen-1__content__author-block
            p.screen-1__content__author-block__label Автор программы:
            p.screen-1__content__author-block__name Алексей Сподин
            p.screen-1__content__author-block__specialization Эксперт по продажам,<br> предприниматель
            .screen-1__content__author-block__about-block
              span Об авторе
              a(href='')
    section.screen-2
      .screen-2__top
        .screen-2__top__block-color-left
        .screen-2__top__block-color-right
        .container
          .screen-2__top__bullet-block
            include components/bullet/bullet.pug
          .screen-2__top__content
            .screen-2__top__content__heading
              h2 Вы сталкиваетесь<br> с этим? 
              p 2 - 10
            .screen-2__top__content__slider
              include components/slider/slider.pug
            .screen-2__top__content__subtract
              .screen-2__top__content__subtract__item
              .screen-2__top__content__subtract__item
      .screen-2__bottom
        .container
          .screen-2__bottom__content
            .screen-2__bottom__content__button-up
              include components/btn-up/btn-up.pug
            include components/footer/footer.pug
