@import "./fonts.scss";
@import "./var.scss";
@import "./mixins/media.scss";
@import "./screen-1.scss";
@import "../components/header/header.scss";
@import "../components/header-navbar/header-navbar.scss";
@import "../components/btn-subscribe/btn-subscribe.scss";

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body.lock {
	overflow: hidden;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
	max-width: 1700px;
	margin: 0 auto;
	@include media_from('sm') {
		padding-left: 20px;
		padding-right: 20px;
	}
}