.screen-1 {
    width: 100%;
    height: 100vh;
    background: transparent;
    overflow-x: hidden;
}

.background-screen-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $color-theme-background;
    transform: translate(100%, -100%);
    transition: 1.5s all ease-in;
}

.background-screen-1.background-screen-1-active {
    transform: translate(0, 0);
}

.screen-1__bullet-block {
    display: none;
    @include media_from('xxl') {
        display: block;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }
}

.screen-1__content {
    width: 100%;
    height: 90vh;
    position: relative;

    .screen-1__content__big-number {
        position: absolute;
        color: #394352;
        font-family: $font-family-oswald;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
        text-transform: uppercase;
        opacity: 0;
        @include media_from('xs') {
            top: 0;
            left: 0;
            font-size: 50px;
            transition: 1.3s all ease-in 1.3s;
        }
        @include media_from('sm') {
            top: 0;
            left: 0;
            font-size: 100px;
        }
        @include media_from('md') {
            font-size: 200px;
            transition: 1.5s all ease-in 1.3s;
        }
        @include media_from('lg') {
            font-size: 250px;
            transition: 1.8s all ease-in 1.5s;
        }
        @include media_from('xl') {
            top: 35px;
            font-size: 300px;
            transition: 2s all ease-in 1.5s;
        }
        @include media_from('xxl') {
            top: 35px;
            left: 25px;
            font-size: 350px;
        }

        &.screen-1__content__big-number-active {
            opacity: 1;
        }
    }
    
    .screen-1__content__heading {
        position: absolute;
        z-index: 2;
        opacity: 0;
        @include media_from('xs') {
            top: 50px;
            left: 0;
            transform: translateX(-50px);
            transition: 1.3s all ease-in 0.6s;
        }
        @include media_from('sm') {
            top: 90px;
            left: 0;
            transform: translateX(-80px);
        }
        @include media_from('md') {
            top: 180px;
            transform: translateX(-100px);
            transition: 1.5s all ease-in 0.8s;
        }
        @include media_from('lg') {
            top: 220px;
            transform: translateX(-130px);
            transition: 1.8s all ease-in 0.8s;
        }
        @include media_from('xl') {
            top: 260px;
            transform: translateX(-150px);
            transition: 2s all ease-in 1s;
        }
        @include media_from('xxl') {
            top: 260px;
            left: 280px;
        }

        &.screen-1__content__heading-active {
            transform: translateX(0);
            opacity: 1;
        }

        h1 {
            color: $font-color-white;
            font-family: $font-family-oswald;
            font-style: normal;
            font-weight: 800;
            line-height: 100%;
            text-transform: uppercase;
            @include media_from('xs') {
                font-size: 26px;
                margin-bottom: 5px;
            }
            @include media_from('sm') {
                font-size: 30px;
                margin-bottom: 10px;
            }
            @include media_from('md') {
                font-size: 50px;
                margin-bottom: 15px;
            }
            @include media_from('lg') {
                font-size: 70px;
            }
            @include media_from('xl') {
                font-size: 100px;
            }
        }
    
        p {
            color: #FFF;
            font-family: $font-family-montserrat;
            font-style: normal;
            font-weight: 400;
            line-height: 132.4%;
            @include media_from('xs') {
                font-size: 10px;
                max-width: 150px;
            }
            @include media_from('sm') {
                font-size: 14px;
                max-width: none;
            }
            @include media_from('md') {
                font-size: 18px;
            }
            @include media_from('lg') {
                font-size: 20px;
            }
            @include media_from('xl') {
                font-size: 24px;
            }
        }
    }

    .screen-1__content__image {
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(100%);
        opacity: 0;
        transition: 2s all ease-in 0.7s;
        @include media_from('sm') {
            right: 0;
            transform: translateX(100px);
            transition: 2s all ease-in 1s;
        }
        @include media_from('xl') {
            right: 100px;
            transform: translateX(150px);
            transition: 2s all ease-in 1.2s;
        }

        img {
            filter: brightness(50%);
            width: 307.2px;
            height: 428.5496px;
            @include media_from('sm') {
                width: 384px;
                height: 535.687px;
            }
            @include media_from('lg') {
                width: 537.6px;
                height: 749.9618px;
            }
        }

        &.screen-1__content__image-active {
            transform: translateX(50%);
            opacity: 1;
            @include media_from('sm') {
                transform: translateX(0);
            }
        }
    }

    .screen-1__content__subscribe {
        z-index: 2;
        position: absolute;
        opacity: 0;
        @include media_from('xs') {
            bottom: 100px;
            right: 50%;
            transform: translateX(50%) translateY(50px);
            transition: 1.5s all ease-in 1s;
        }
        @include media_from('sm') {
            bottom: 150px;
            right: 230px;
            transform: translateX(0) translateY(70px);
        }
        @include media_from('lg') {
            bottom: 260px;
            right: 300px;
            transition: 1.5s all ease-in 1.5s;
        }
        @include media_from('xl') {
            bottom: 260px;
            right: 350px;
        }

        &.screen-1__content__subscribe-active {
            opacity: 1;
            @include media_from('xs') {
                transform: translateX(50%) translateY(0);
            }
            @include media_from('sm') {
                transform: translateX(0) translateY(0);
            }
        }
    }

    .screen-1__content__start {
        position: absolute;
        z-index: 2;
        opacity: 0;
        transition: 1s all ease-in 2s;
        @include media_from('xs') {
            bottom: 200px;
            right: 50%;
            transform: translateX(50%);
        }
        @include media_from('sm') {
            bottom: 240px;
            right: 280px;
            transform: none;
        }
        @include media_from('lg') {
            bottom: 380px;
            right: 360px;
        }
        @include media_from('xl') {
            bottom: 380px;
            right: 430px;
        }
        span {
            color: $color-theme-orange;
            font-family: $font-family-montserrat;
            font-style: normal;
            font-size: 16px;
            font-weight: 500;
            line-height: 100%;
            @include media_from('lg') {
                font-size: 18px;
            }
            @include media_from('xl') {
                font-size: 20px;
            }
        }

        p {
            color: $color-theme-orange;
            font-family: $font-family-montserrat;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            @include media_from('lg') {
                font-size: 28px;
            }
            @include media_from('xl') {
                font-size: 32px;
            }
        }

        &.screen-1__content__start-active {
            opacity: 1;
        }
    }

    .screen-1__content__author-block {
        position: absolute;
        z-index: 2;
        opacity: 0;
        @include media_from('xs') {
            top: 20px;
            right: 0;
            transform: translateX(70px);
            transition: 1.5s all ease-in 1.2s;
        }
        @include media_from('sm') {
            top: auto;
            bottom: 150px;
            right: 0;
            transform: translateX(100px);
            transition: 1.5s all ease-in 1.5s;
        }
        @include media_from('lg') {
            bottom: 285px;
            right: 20px;
            transform: translateX(130px);
            transition: 1.5s all ease-in 1.8s;
        }
        @include media_from('xl') {
            bottom: 285px;
            right: 50px;
            transform: translateX(150px);
            transition: 1.5s all ease-in 2s;
        }

        &.screen-1__content__author-block-active {
            opacity: 1;
            transform: translateX(0);
        }
        .screen-1__content__author-block__label {
            color: $font-color-white;
            font-family: $font-family-montserrat;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            @include media_from('xs') {
                font-size: 10px;
                margin-bottom: 8px;
            }
            @include media_from('sm') {
                font-size: 12px;
                margin-bottom: 10px;
            }
            @include media_from('lg') {
                font-size: 14px;
            }
            @include media_from('xl') {
                font-size: 16px;
            }
        }
        .screen-1__content__author-block__name {
            color: $font-color-white;
            font-family: $font-family-oswald;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            @include media_from('xs') {
                font-size: 12px;
                letter-spacing: 3px;
                margin-bottom: 8px;
            }
            @include media_from('sm') {
                font-size: 16px;
                margin-bottom: 10px;
                letter-spacing: 3.85px;
                margin-bottom: 10px;
            }
            @include media_from('lg') {
                font-size: 18px;
            }
            @include media_from('xl') {
                font-size: 20px;
            }
        }
        .screen-1__content__author-block__specialization {
            color: $font-color-white;
            font-family: $font-family-montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 20px;
            @include media_from('md') {
                margin-bottom: 30px;
            }
        }
        .screen-1__content__author-block__about-block {
            display: flex;
            align-items: center;
            span {
                color: $font-color-white;
                font-family: $font-family-montserrat;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-right: 16px;
                @include media_from('md') {
                    font-size: 12px;
                }
                @include media_from('lg') {
                    font-size: 14px;
                    margin-right: 16px;
                }
                @include media_from('xl') {
                    font-size: 16px;
                    margin-right: 20px;
                }
            }

            a {
                width: 29.4px;
                height: 26.4px;
                background-image: url(/images/icons/arrow-link.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                @include media_from('md') {
                    width: 29.4px;
                    height: 26.4px;
                }
                @include media_from('xl') {
                    width: 49px;
                    height: 44px;
                }
            }
        }
    }
}