nav.footer-navbar
    .footer-navbar__item
        a(href='') Программа
        a(href='') Тарифы
    .footer-navbar__item
        a(href='') Об авторе
        a(href='') ЧаВо
    .footer-navbar__item
        a(href='') Политика<br> конфиденциальности