.slider
    .slider-wrapper
        .slider-slide
            p «Отправьте всё на почту», «Не интересно» - мало аргументов для принятия нужного решения «Отправьте всё на почту», «Не интересно» - мало аргументов для принятия нужного решения«Отправьте всё на почту», «Не интересно» - мало аргументов для принятия нужного решения
    button.slider-button-prev
    button.slider-button-next